<header>
  {{outlet navbar}}
</header>

<section class="main-content">
  <section class="controls">
    {{outlet controls}}
  </section>

  <section class="summaries">
    {{outlet feedItems}}
  </section>

  <section class="entries">
    {{outlet feedItem}}
  </section>
</section>

